{% extends 'meter/base.html' %}
{% load static %}

{% block head %}
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Meter</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'meter/img/favicon/favicon.ico' %}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&ampdisplay=swap"
      rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'meter/vendor/fonts/fontawesome.css' %}" />
    <link rel="stylesheet" href="{% static 'meter/vendor/fonts/tabler-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'meter/vendor/fonts/flag-icons.css' %}" />

    <!-- Core CSS -->

    <link rel="stylesheet" href="{% static 'meter/vendor/css/rtl/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'meter/vendor/css/rtl/theme-default.css' %}" class="template-customizer-theme-css" />

    <link rel="stylesheet" href="{% static 'meter/css/demo.css' %}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'meter/vendor/libs/node-waves/node-waves.css' %}" />

    <link rel="stylesheet" href="{% static 'meter/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
    <link rel="stylesheet" href="{% static 'meter/vendor/libs/typeahead-js/typeahead.css' %}" />
    <link rel="stylesheet" href="{% static 'meter/vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'meter/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'meter/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'meter/vendor/libs/sweetalert2/sweetalert2.css' %}" />
    <link rel="stylesheet" href="{% static 'meter/vendor/libs/select2/select2.css' %}" />
    <link rel="stylesheet" href="{% static 'meter/vendor/libs/@form-validation/form-validation.css' %}" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="{% static 'meter/vendor/js/helpers.js' %}"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->

    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="{% static 'meter/vendor/js/template-customizer.js' %}"></script>

    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static 'meter/js/config.js' %}"></script>

{% endblock %}

{% block content %}
<!-- Layout wrapper -->
    <div class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu">
      <div class="layout-container">
        <!-- Navbar -->

        <nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar">
          <div class="container-xxl">
            <div class="navbar-brand app-brand demo d-none d-xl-flex py-0 me-4">
              <a href="index.html" class="app-brand-link">
                <span class="app-brand-logo demo">
                  <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M0.00172773 0V6.85398C0.00172773 6.85398 -0.133178 9.01207 1.98092 10.8388L13.6912 21.9964L19.7809 21.9181L18.8042 9.88248L16.4951 7.17289L9.23799 0H0.00172773Z"
                      fill="#7367F0" />
                    <path
                      opacity="0.06"
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M7.69824 16.4364L12.5199 3.23696L16.5541 7.25596L7.69824 16.4364Z"
                      fill="#161616" />
                    <path
                      opacity="0.06"
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M8.07751 15.9175L13.9419 4.63989L16.5849 7.28475L8.07751 15.9175Z"
                      fill="#161616" />
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M7.77295 16.3566L23.6563 0H32V6.88383C32 6.88383 31.8262 9.17836 30.6591 10.4057L19.7824 22H13.6938L7.77295 16.3566Z"
                      fill="#7367F0" />
                  </svg>
                </span>
                <span class="app-brand-text demo menu-text fw-bold">EMS</span>
              </a>

              <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
                <i class="ti ti-x ti-md align-middle"></i>
              </a>
            </div>

            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="ti ti-menu-2 ti-md"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <div class="navbar-nav align-items-center">
                <div class="nav-item dropdown-style-switcher dropdown">
                  <a
                    class="nav-link btn btn-text-secondary btn-icon rounded-pill dropdown-toggle hide-arrow"
                    href="javascript:void(0);"
                    data-bs-toggle="dropdown">
                    <i class="ti ti-md"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-start dropdown-styles">
                    <li>
                      <a class="dropdown-item" href="javascript:void(0);" data-theme="light">
                        <span class="align-middle"><i class="ti ti-sun me-3"></i>Light</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0);" data-theme="dark">
                        <span class="align-middle"><i class="ti ti-moon-stars me-3"></i>Dark</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0);" data-theme="system">
                        <span class="align-middle"><i class="ti ti-device-desktop-analytics me-3"></i>System</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a
                    class="nav-link dropdown-toggle hide-arrow p-0"
                    href="javascript:void(0);"
                    data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <img src="{% static 'meter/img/avatars/1.png' %}" alt class="rounded-circle" />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item mt-0" href="#">
                        <div class="d-flex align-items-center">
                          <div class="flex-shrink-0 me-2">
                            <div class="avatar avatar-online">
                              <img src="{% static 'meter/img/avatars/1.png' %}" alt class="rounded-circle" />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            {% if user.is_authenticated %}
                            <h6 class="mb-0">{{ user.username }}</h6>
                            {% else %}
                            {% endif %}
                            <small class="text-muted">Admin</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider my-1 mx-n2"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="ti ti-user me-3 ti-md"></i><span class="align-middle">My Profile</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="ti ti-settings me-3 ti-md"></i><span class="align-middle">Settings</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <span class="d-flex align-items-center align-middle">
                          <i class="flex-shrink-0 ti ti-file-dollar me-3 ti-md"></i>
                          <span class="flex-grow-1 align-middle">Billing</span>
                          <span class="flex-shrink-0 badge bg-danger d-flex align-items-center justify-content-center"
                            >4</span
                          >
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider my-1 mx-n2"></div>
                    </li>
                    <li>
                      <div class="d-grid px-2 pt-2 pb-1">
                        <a class="btn btn-sm btn-danger d-flex" href="{% url 'logout' %}">
                          <small class="align-middle">Logout</small>
                          <i class="ti ti-logout ms-2 ti-14px"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
                <!--/ User -->
              </ul>
            </div>
          </div>
        </nav>

        <!-- / Navbar -->
        <!-- Layout container -->
        <div class="layout-page">
          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Menu -->
            <aside id="layout-menu" class="layout-menu-horizontal menu-horizontal menu bg-menu-theme flex-grow-0">
              <div class="container-xxl d-flex h-100">
                <ul class="menu-inner py-1">
                  <!-- Page -->
                  <li class="menu-item">
                    <a href="#" class="menu-link">
                      <i class="menu-icon tf-icons ti ti-circle-dashed ti-spin"></i>
                      <div data-i18n="Dashboard">Dashboard</div>
                    </a>
                  </li>
                  <li class="menu-item  active">
                    <a class="menu-link menu-toggle">
                      <i class="menu-icon tf-icons ti ti-home"></i>
                      <div data-i18n="Houses">Houses</div>
                    </a>
                    <ul class="menu-sub">
                        <li class="menu-item">
                            <a href="{% url 'house-list' %}" class="menu-link">
                            <i class="menu-icon tf-icons ti ti-app-window"></i>
                            <div data-i18n="List">List</div>
                            </a>
                        </li>
                        <li class="menu-item active">
                            <a href="{% url 'house-create' %}" class="menu-link">
                            <i class="menu-icon tf-icons ti ti-home"></i>
                            <div data-i18n="Add House">Add House</div>
                            </a>
                        </li>
                    </ul>
                  </li>
                  <li class="menu-item">
                    <a href="{% url 'owner-list' %}" class="menu-link">
                      <i class="menu-icon tf-icons ti ti-users"></i>
                      <div data-i18n="Owners">Owners</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="{% url 'tenant-list' %}" class="menu-link">
                      <i class="menu-icon tf-icons ti ti-walk"></i>
                      <div data-i18n="Tenants">Tenants</div>
                    </a>
                  </li>
                  
                </ul>
              </div>
            </aside>
            <!-- / Menu -->

                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                <div class="d-flex flex-column flex-sm-row align-items-center justify-content-sm-between mb-6">
                    <div class="mb-2 mb-sm-0">
                    <h4 class="mb-1">HOUSE: {{ house.hse_number }}</h4>
                    <p class="mb-0">Meter Management</p>
                    </div>
                    {% if not meter %}
                    <a href="javascript:;" class="btn btn-primary" data-bs-target="#addMeterModal" data-bs-toggle="modal">Add Meter</a>
                    {% endif %}
                </div>

                <div class="row">
                    <!-- Meter Details -->
                    <div class="col-xl-4 col-lg-5 col-md-5 order-1 order-md-0">
                    {% if meter %}
                    <div class="card mb-4">
                        <div class="card-body">
                        <h5 class="card-title">Meter Information</h5>
                        <div class="info-container">
                            <ul class="list-unstyled">
                            <li class="mb-2">
                                <span class="badge bg-label-info me-1">Meter Number:</span>
                                <span>{{ meter.meter_number }}</span>
                            </li>
                            <li class="mb-2">
                                <span class="badge bg-label-info me-1">Installation Date:</span>
                                <span>{{ meter.installation_date }}</span>
                            </li>
                            <li class="mb-2">
                                <span class="badge bg-label-info me-1">Status:</span>
                                <span {{ meter.status|lower }}>{{ meter.status }}</span>
                            </li>
                            </ul>
                            <div class="d-flex gap-2 pt-3">
                            <a href="javascript:;" class="btn btn-warning flex-grow-1" data-bs-toggle="modal" data-bs-target="#replaceMeterModal">Replace Meter</a>
                            <a href="javascript:;" class="btn btn-primary flex-grow-1" data-bs-toggle="modal" data-bs-target="#addReadingModal">Add Reading</a>
                            </div>
                        </div>
                        </div>
                    </div>

                    <!-- Current Stats -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title mb-4">Total Consumption Stats</h5>
                            <div class="d-flex justify-content-between mb-3">
                                <div>
                                    <span class="badge bg-label-primary mb-1">Total Units Consumed</span>
                                    <h4 class="mb-0">{{ total_consumption|default:"0" }}</h4>
                                </div>
                                <div>
                                    <span class="badge bg-label-success mb-1">Total Bill Amount</span>
                                    <h4 class="mb-0">Ksh {{ total_bill|default:"0" }}</h4>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <span class="badge bg-label-warning mb-1">Highest Monthly Usage</span>
                                    <h4 class="mb-0">{{ highest_reading.consumption|default:"0" }}</h4>
                                    <small>{{ highest_reading.reading_date|date:"F Y"|default:"-" }}</small>
                                </div>
                                <div>
                                    <span class="badge bg-label-info mb-1">Average Monthly Units</span>
                                    <h4 class="mb-0">{{ avg_consumption|default:"0" }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    </div>

                    <!-- Readings History -->
                    <div class="col-xl-8 col-lg-7 col-md-7 order-0 order-md-1">
                    <!-- Navigation Pills -->
                    <div class="nav-align-top mb-4">
                        <ul class="nav nav-pills flex-column flex-md-row mb-4">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'house-detail' house.pk %}">
                            <i class="ti ti-user me-1"></i>Overview
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                            <i class="ti ti-gauge me-1"></i>Meter
                            </a>
                        </li>
                        </ul>
                    </div>

                    {% if meter and meter.readings.exists %}
                    <!-- Readings Table -->
                    <div class="card">
                        <div class="card-header">
                        <h5 class="card-title">Meter Readings History</h5>
                        </div>
                        <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Previous</th>
                                <th>Current</th>
                                <th>Units</th>
                                <th>Read By</th>
                                <th>Bill</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reading in meter.readings.all %}
                            <tr>
                                <td>{{ reading.reading_date }}</td>
                                <td>{{ reading.previous_reading }}</td>
                                <td>{{ reading.current_reading }}</td>
                                <td>{{ reading.consumption }}</td>
                                <td>{{ reading.read_by.get_full_name }}</td>
                                <td>Ksh {{ reading.bill_amount }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        </div>
                    </div>
                    {% elif meter %}
                    <div class="card">
                        <div class="card-body text-center py-5">
                        <h4>No Readings Yet</h4>
                        <p>Start by adding the first meter reading</p>
                        <a href="javascript:;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addReadingModal">Add Reading</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="card">
                        <div class="card-body text-center py-5">
                        <h4>No Meter Assigned</h4>
                        <p>This house doesn't have a water meter yet</p>
                        <a href="javascript:;" class="btn btn-primary" data-bs-target="#addMeterModal" data-bs-toggle="modal">Add Meter</a>
                        </div>
                    </div>
                    {% endif %}
                    </div>
                </div>
                </div>

                <!-- Add Meter Modal -->
                <div class="modal fade" id="addMeterModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Add New Meter</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="post" action="{% url 'meter-create' house.pk %}">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label class="form-label" for="meter_number">Meter Number</label>
                                        <input type="text" class="form-control" name="meter_number" id="meter_number" required>
                                        {% if form.meter_number.errors %}
                                        <div class="invalid-feedback d-block">
                                            {{ form.meter_number.errors }}
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="installation_date">Installation Date</label>
                                        <input type="date" class="form-control" name="installation_date" id="installation_date" required>
                                        {% if form.installation_date.errors %}
                                        <div class="invalid-feedback d-block">
                                            {{ form.installation_date.errors }}
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-primary">Save Meter</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                {% if meter %}
                <!-- Replace Meter Modal -->
                <div class="modal fade" id="replaceMeterModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Replace Meter</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'meter-replace' meter.pk %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label" for="status">Current Meter Status</label>
                            <select name="status" id="status" class="form-select">
                            <option value="inactive">Inactive</option>
                            <option value="damaged">Damaged</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="new_meter_number">New Meter Number</label>
                            <input type="text" id="new_meter_number" name="new_meter_number" class="form-control" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Replace Meter</button>
                        </div>
                        </form>
                    </div>
                    </div>
                </div>
                </div>

                <!-- Add Reading Modal -->
                <div class="modal fade" id="addReadingModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Meter Reading</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'reading-create' meter.pk %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label" for="previous_reading">Previous Reading</label>
                            <input type="number" id="previous_reading" class="form-control" value="{{ meter.readings.last.current_reading|default:'0' }}" disabled>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="current_reading">Current Reading</label>
                            <input type="number" id="current_reading" name="current_reading" class="form-control" step="0.01" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="reading_date">Reading Date</label>
                            <input type="date" id="reading_date" name="reading_date" class="form-control" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save Reading</button>
                        </div>
                        </form>
                    </div>
                    </div>
                </div>
                </div>
                {% endif %}
            <!--/ Content -->

            



                <!-- Footer -->
                    <footer class="content-footer footer bg-footer-theme">
                    <div class="container-xxl">
                        <div
                        class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
                        <div class="text-body">
                            ©
                            <script>
                            document.write(new Date().getFullYear());
                            </script>
                            , developed by <a href="https://neesites.co.ke" target="_blank" class="footer-link">Neesites</a>
                        </div>
                        <div class="d-none d-lg-inline-block">
                            <a
                            href="https://docs.neesites.co.ke"
                            target="_blank"
                            class="footer-link me-4"
                            >Documentation</a
                            >
                        </div>
                        </div>
                    </div>
                    </footer>
                <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!--/ Content wrapper -->
        </div>

        <!--/ Layout container -->
      </div>
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>

    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->

    <script src="{% static 'meter/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'meter/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'meter/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'meter/vendor/libs/node-waves/node-waves.js' %}"></script>
    <script src="{% static 'meter/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'meter/vendor/libs/hammer/hammer.js' %}"></script>
    <script src="{% static 'meter/vendor/libs/i18n/i18n.js' %}"></script>
    <script src="{% static 'meter/vendor/libs/typeahead-js/typeahead.js' %}"></script>
    <script src="{% static 'meter/vendor/js/menu.js' %}"></script>

    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="{% static 'meter/vendor/libs/moment/moment.js' %}"></script>
    <script src="{% static 'meter/vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
    <script src="{% static 'meter/vendor/libs/sweetalert2/sweetalert2.js' %}"></script>
    <script src="{% static 'meter/vendor/libs/cleavejs/cleave.js' %}"></script>
    <script src="{% static 'meter/vendor/libs/cleavejs/cleave-phone.js' %}"></script>
    <script src="{% static 'meter/vendor/libs/select2/select2.js' %}"></script>
    <script src="{% static 'meter/vendor/libs/@form-validation/popular.js' %}"></script>
    <script src="{% static 'meter/vendor/libs/@form-validation/bootstrap5.js' %}"></script>
    <script src="{% static 'meter/vendor/libs/@form-validation/auto-focus.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static 'meter/js/main.js' %}"></script>

    <!-- Page JS -->
    <script src="{% static 'meter/js/modal-edit-user.js' %}"></script>
    <script src="{% static 'meter/js/app-ecommerce-customer-detail.js' %}"></script>
    <script src="{% static 'meter/js/app-ecommerce-customer-detail-overview.js' %}"></script>
{% endblock %}